<?xml version="1.0"?>
<launch>
    <!-- Arguments -->
    <arg name="name_space" default=""/>
    <arg name="output" default="log"/>

    <include file="$(find burger_navigation)/launch/burger_navigation.launch">
    </include>
    <node pkg="burger_war" type="navirun.py" name="cheeseRun" output="$(arg output)"/>
</launch>

